<!DOCTYPE html>
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/static/fontawesome-free-5.15.4-web/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="tps://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Demar</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://kenwheeler.github.io/slick/slick/slick-theme.css"
    />
  </head>
  <body>
    <div class="main">
      <header id="navbar">
       <a href="{% url 'main:index' %}"><img class="logo" src="/static/images/logo.png" alt="" /></a> 
        <div class="btn-hamburger" id="burger">
          <div id="drop-men" class="dropdown">
            <a data-toggle="dropdown"><i class="fas fa-bars"></i></a>
            <ul
              style="background-color: black; margin-left: -10px"
              id="drop-menu"
              class="dropdown-menu"
              role="menu"
              aria-labelledby="dLabel"
            >
              <div class="dropdow">
                <li><a href="{% url 'main:contact' %}">Контакты</a></li>
              </div><div class="dropdow">
                <li><a href="{% url 'main:about' %}">О нас</a></li>
              </div>
              <hr />
              <div class="dropdow">
                <li><a href="{% url 'main:gallery' %}">Галерея</a></li>
              </div>
            </ul>
          </div>
        </div>
        <ul class="header" id="ul">
          <li><a href="{% url 'main:contact' %}">Контакты</a></li>
          <li><a href="{% url 'main:gallery' %}">Галерея</a></li>
          <li><a href="{% url 'main:about' %}"> О нас</a></li>

        </ul>
        <div class="li-cen">
          <li class="glry">
            <div class="dropdown">
              <a style="color: #fff;"class="dropdown-toggle" data-toggle="dropdown">Каталог</a>
              <ul
                id="dropdown-menu"
                class="dropdown-menu"
                role="menu"
                aria-labelledby="dLabel"
              >
                <div class="dropdowns">
                  <h1 class="stoness"><a style="color: black;" href="{% url 'main:plitki' %}">Плитки</a></h1>
                  <img
                    class="drop-img"
                    width="193px"
                    height="117px"
                    src="/static/images/stones.png"
                    alt=""
                  />
                </div>
                <hr class="hri" />
                <div class="dropdowns">
                  <h1 class="laminate">
                    <a style="color: black;" href="{% url 'main:laminat' %}">Кафель</a>
                  </h1>
                  <img
                    class="drop-img"
                    width="193px"
                    height="117px"
                    src="/static/images/laminates.png"
                    alt=""
                  />
                </div>
              </ul>
            </div>
          </li>
        </div>
        <div class="navbar-end">
     
          <a href="{% url 'main:cart' %}"
            ><img class="cart" src="/static/images/cart.png" alt=""
          /></a>
          <button type="button" class="search-btn">
            <img class="search" src="/static/images/search.png" alt="" />
          </button>
        </div>
      </header>


<div class="gallery-section">
      <div class="galleries sliders">
        <div class="gallery">
          <div class="about-img" style="background: url('/static/images/1.jpg'); width: 100%; height: 70vh; background-position: center; background-size: cover;">

          </div>
        </div>
      </div>
      <br>
      <br>

      <p class="gallery-para">
        Индийская и Китайская плитка — древнейший материал, история которого берет свое начало в IX веке. Мы предлагаем самые широкий спектр плиток и кафелей для творчества и создания красивых интерьеров из итальянской плитки в Узбекистане. Если итальянская плитка – то только Demar!
      </p>

      <div style="text-align: center">
        <a href="{% url 'main:gallery' %}"><button type="button" class="gallery-btn">Подробнее</button></a>
      </div>
    </div>


   <div class="footer-section">
      <div class="footers">
        <div class="footer-left">
          <img class="logofooter" src="/static/images/ащщеукдщпщ.png" alt="" />
          <h6 class="copy">©Demar 2022</h6>
        </div>
        <div class="footer-center">
          <h1 class="footer-text"><a style="color: #fff;" href="{% url 'main:contact' %}">Контакт</a></h1>
          <h1 class="footer-text"><a style="color: #fff;" href="{% url 'main:gallery' %}">Галерея</a></h1>
          <h1 class="footer-text">
            <a style="color: #fff;" href="{% url 'main:laminat' %}">Ламинат/Паркет</a>
          </h1>
          <h1 class="footer-text"><a style="color: #fff; " href="{% url 'main:plitki' %}"> Кафель </a></h1>
        </div>
        <div class="footer-right">
          <h2 class="footer-phone">+998 (99) 555-25-89</h2>
          <div class="footer-left-first">
            <h2 class="footer-title">Адрес</h2>
            <h6 class="footer-para">Чиланзарский район, 8 улица Аль-Хорезми</h6>
          </div>
          <div>
            <h2 class="footer-title">E-mail</h2>
            <h6 class="footer-para">Demar.support.gmail.com</h6>
          </div>
        </div>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
      </body>
</html>
{% endblock %}